.NavBarLogo {
    color: white;
    font-family: 'Londrina Solid', cursive;
    font-size:50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4B7FE6;
    padding:0px;
    margin: 0px;
}

.NavBarLogo:hover{
    color: #1295d8;
    border-bottom: 7px solid #ffb511;
}

button {
    background-color: #ffb511;
    color: black;
    border-radius: 6px;
    width: 70px;
}

a:hover{
    text-decoration: none
}

.centered {
    width:100%;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Buttons inside the dropdown */
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #ffb511;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(1,1,1,0.2);
    z-index: 1;
    border-radius: 0px
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #aaa;
    box-shadow: 0px 8px 16px 0px rgba(1,1,1,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
